In [1]:
import pandas as pd
import numpy as np
# import polars as pl
import seaborn as sns
from matplotlib import pyplot as plt
import pickle
from pathlib import Path

In [2]:
# Define paths to input data
DATA_PATH = Path('~/Documents/code/otto-multi-objective-recommender-system/data')
TRAIN_PATH = DATA_PATH / 'train.parquet'
TEST_PATH = DATA_PATH / 'test.parquet'

In [3]:
test = pd.read_parquet(TEST_PATH)
test

          session      aid          ts  type
0        11098528    11830  1661119200     0
1        11098529  1105029  1661119200     0
2        11098530   264500  1661119200     0
3        11098530   264500  1661119288     0
4        11098530   409236  1661119369     0
...           ...      ...         ...   ...
7683572  12899774    33035  1661723968     0
7683573  12899775  1743151  1661723970     0
7683574  12899776   548599  1661723972     0
7683575  12899777   384045  1661723976     0
7683576  12899778   561560  1661723983     0

[7683577 rows x 4 columns]

In [27]:
train = pd.read_parquet('../data/train.parquet')
train

            session      aid          ts  type
0                 0  1517085  1659304800     0
1                 0  1563459  1659304904     0
2                 0  1309446  1659367439     0
3                 0    16246  1659367719     0
4                 0  1781822  1659367871     0
...             ...      ...         ...   ...
216716091  12899776  1737908  1661723987     0
216716092  12899777   384045  1661723976     0
216716093  12899777   384045  1661723986     0
216716094  12899778   561560  1661723983     0
216716095  12899778    32070  1661723994     0

[216716096 rows x 4 columns]

In [35]:
print(f'{train.shape[0]:,} training examples')
print(f'{test.shape[0]:,} test examples')

216,716,096 training examples
6,928,123 test examples

In [24]:
train = pd.read_parquet(TRAIN_PATH)
train.shape

ArrowInvalid: Could not open Parquet input source '<Buffer>': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.

In [18]:
df = pl.read_json(TEST_PATH)
df.shape

RuntimeError: BindingsError: "ArrowError(NotYetImplemented(\"read an Array from a non-Array JSON\"))"

In [2]:
# test = pd.read_json('../data/test.jsonl', lines=True)
# test.shape

(1671803, 2)

In [20]:
%%time
for _ in range(1000):
    x = 1

CPU times: user 66 µs, sys: 4 µs, total: 70 µs
Wall time: 73.9 µs

In [22]:
%%timeit
for _ in range(10000000):
    x = 1

243 ms ± 10.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [3]:
chunks = pd.read_json('../data/test.jsonl', lines=True, chunksize = 10000)
test2 = pd.DataFrame()
for chunk in chunks:
  test2 = pd.concat([test2, chunk])

In [4]:
test.head()

    session                                             events
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

In [5]:
test2.head()

    session                                             events
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

In [6]:
chunks = pd.read_json('../data/train.jsonl', lines=True, chunksize = 10000)
print('got chunks')

got chunks

In [8]:
enumerate(chunks)

In [12]:
test = pd.DataFrame()
count = 0
for i, chunk in enumerate(chunks):
    # if i % 100 == 0:
    count = i
    train = pd.concat([train, chunk])
print(count)

KeyboardInterrupt: